body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#buy-stocks {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#chart-container {
    flex: 3;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

/* table for  */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0B3948;
    color: #ACB0BD;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside {
    width: 30%;
}
section {
    width: 68%;
}